<!DOCTYPE html>
<html lang="en">
    <head>
        <!--페이지마다 경로 개인이 수정하여 사용하기-->
        <link rel="stylesheet" href="/common/css/common.css"/>
        <link rel="stylesheet" href="/common/css/footer.css"/>
        <link rel="stylesheet" href="/common/css/header.css"/>
        <!-- <link rel="stylesheet" href="/event/css/employeeintro.css"/> -->
        <link rel="stylesheet" href="../css/employeeintro.css"/>
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="/common/js/common.js" defer></script>
        <script src="/event/js/employeeintro.js" defer></script>
        <!--common.js에서 제이쿼리 경로 수정하기!-->
        
        </head>
        
        <body>
        <!--헤더영역-->
            <div class="header">
            </div>   
                <main style="height: 2000px;">
                    <!--개인 작업 영역-->
                    <div class="event-container">
                        <div class="event-banner" >
                            <img src="/event/img/12345.jpg" alt="이벤트메인배너"/>
                            <h1 class="event-banner-text"></h1>
                        </div>
                        <div class="service-content-container">
                            <h2>보모보모 직원 소개</h2>
                            <div class = "board">
                            <div class="board-item">
                                <div class="board-img-box">
                                  <div class="board-item-image" style="background-image: "></div>             
                                </div>
                                <div class="board-item-text">
                                  <h3 class="board-item-title">김성찬</h3>
                                  <span class="board-item-author">안녕낭녕</span>
                                </div>
                              </div>
                              
                              <div class="board-item">
                                <div class="board-img-box">
                                  <div class="board-item-image" style="background-image: "></div>             
                                </div>
                                <div class="board-item-text">
                                  <h3 class="board-item-title">복영헌</h3>
                                  <span class="board-item-author">안녕낭녕</span>
                                </div>
                              </div>

                              <div class="board-item">
                                <div class="board-img-box">
                                  <div class="board-item-image" style="background-image: "></div>             
                                </div>
                                <div class="board-item-text">
                                  <h3 class="board-item-title">임형준</h3>
                                  <span class="board-item-author">안녕낭녕</span>
                                </div>
                              </div>
                              <div class="board-item">
                                <div class="board-img-box">
                                  <div class="board-item-image" style="background-image: "></div>             
                                </div>
                                <div class="board-item-text">
                                  <h3 class="board-item-title">이중근</h3>
                                  <span class="board-item-author">안녕낭녕</span>
                                </div>
                              </div>
                              <div class="board-item">
                                <div class="board-img-box">
                                  <div class="board-item-image" style="background-image: "></div>             
                                </div>
                                <div class="board-item-text">
                                  <h3 class="board-item-title">공병문</h3>
                                  <span class="board-item-author">안녕낭녕</span>
                                </div>
                              </div>
                              <div class="board-item">
                                <div class="board-img-box">
                                  <div class="board-item-image" style="background-image: "></div>             
                                </div>
                                <div class="board-item-text">
                                  <h3 class="board-item-title">아무개</h3>
                                  <span class="board-item-author">
                                    안녕낭녕ㅇㄹㄴㅇㄹㄴㄹㅇㄴㄹㅇㄴㄹㅇㄴㄹㄴ
                                ㅇㄹㄴㅇ</span>
                                </div> 
                              </div>
                              </div>
                              <div class="page-container">
                                <ul class="page-box">
                                  <a href="" class="page-a">
                                    <li class="page-num prev">&lt</li>
                                  </a>
                                  <a href="" class="page-a">
                                    <li class="page-num active">1</li>
                                  </a>
                                  <a href="" class="page-a">
                                    <li class="page-num">2</li>
                                  </a>
                                  <a href="" class="page-a">
                                    <li class="page-num">3</li>
                                  </a>
                                  <a href="" class="page-a">
                                    <li class="page-num">4</li>
                                  </a>
                                  <a href="" class="page-a">
                                    <li class="page-num">5</li>
                                  </a>
                                  <a href="" class="page-a">
                                    <li class="page-num next">&gt</li>
                                  </a>
                                </ul>
                              
                        </div>





                </main>
        
        
        <!--푸터영역-->
            <div class="footer">
            </div>
        
        </body>
        
        <!--폰트 임포트는 common.css에 있음-->
</html>