<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/event/css/eventdetail.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>
    <link rel="stylesheet" href="/common/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/header.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d8cddce5e1cf36a90728390b847c19c" ></script>

    <script src="/common/js/index.js" defer></script>
    <script src="/common/js/common.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
    </div>
    
        <main>
            <div class="main" style="height: 3050px;">
                <div class="event-detail" >
                    <div class="event-detail-banner" >
                    <img src="/event/img/event1main.jpg" alt="매인배너"/>
                </div>
            </div>
        <div class="event-detail-main">`
            <div class="evetn-detail-line">
               <span>프로그램 상세설명</span>
            </div>
         </div>
        
        <div class="event-main-detail">
            <div class="event-main-info"  >
                <img src="/event/img/event1detail.png" alt="매인배너"/>
            </div>
        </div>
        <div class="event-apply">
            <button type="button" onclick="location.href='eventpayment.html'">신청하기</button>
        </div>
        </div> 
    </main>
    </div>

        <div class="footer">
        </div>
</body>
</html>