<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/event/css/guide.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>
    <link rel="stylesheet" href="/common/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/header.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d8cddce5e1cf36a90728390b847c19c" ></script>

    <script src="/common/js/index.js" defer></script>
    <script src="/common/js/common.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
    </div>
    
        <main>
            <div class="main" style="height: 3050px;">
                <div class="guide-section">
                <div class="guide-sitter">
                    <dl>
                        <dt><strong>1.씨터 찾기</strong></dt>
                        <dl>만 4세부터 초등학교 저학년까지 </dl>
                        <dl>꼭 필요한 연령별 맞춤 돌봄 서비스를 받아보세요</dl>
                        <dl>신청서를 작성하시고 원하시는 시터님들에게 신청서를 보내 빠르게 방문 서비스를 받아보실수 있습니다 </dl>
                    </dl>
                </div>    
                <div class="guide-detail">
                    <div class="event-detail-banner" >
                    <img src="/event/img/event1main.jpg" alt="매인배너"/>
                </div>
            </div>
        <div class="guide-event">`
            <dl>
                <dt><strong>2.이벤트 찾기</strong></dt>
                <dl>아이들은 이벤트를 통해 스스로 원하는 것을 표현하고, 즐겁고 신나게 놀며 성장합니다 </dl>
                <dl>아이들에게 평생 기억에 남을 추억을 선물해주세요</dl>
                <dl>원하시는 이벤트를 선택해 신청서를 보내주시면 확인 후 빠르게 일정을 확인 후 진행합니다  </dl>
            </dl>
        </div>
            
     
        
        <div class="event-main-detail">
            <div class="event-main-info"  >
                <img src="/event/img/event1detail.png" alt="매인배너"/>
            </div>
        </div>
        
        </div>
        </div> 
    </main>
   

        <div class="footer">
        </div>
</body>
</html>